<!DOCTYPE html>
<html lang="pt-br">
  <head id="head-index">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    
    <title>Cadastro</title>
  </head>
  
  <body id="body_cadastro">
    <section class="wrapper">
      <div id="stars"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>
      <div id="title"></div>
    <section>
      <h1 id="cadastro1">CADASTRO DE CARROS</h1>
    </section>
    <a href="/carros"><img src="/img/closed.png"  id="closed"></a>
    <section id="cadastro" >
      <form action="/newCarro" method="POST">
        <div>
          <label for="marca">Marca:</label>
          <input
            type="text"
            name="marca"
            id="marca"
            placeholder="Marca"
            required
          />
        </div>
        <div>
          <label for="modelo">Modelo:</label>
          <input
            type="text"
            name="modelo"
            id="modelo"
            placeholder="Modelo"
            required
          />
        </div>
        <div>
          <label for="potencia">Potência:</label>
          <input
            type="number"
            name="potencia"
            id="potencia"
            placeholder="Potência"
            required
          />
        </div>
        <div>
          <label for="velocidade">Velocidade:</label>
          <input
            type="number"
            name="velocidade"
            id="velocidade"
            placeholder="velocidade"
            required
          />
        </div>
        <div>
          <label for="zeroCem">De 0 à 100km:</label>
          <input
            type="float"
            name="zeroCem"
            id="zeroCem"
            placeholder="0 à 100km em seg"
            required
          />
        </div>
        <div>
          <label for="descricao">Descrição:</label>
          <input
            type="text"
            name="descricao"
            id="descricao"
            placeholder="descricao"
            required
          />
        </div>
        <div>
          <label for="note">Nota:</label>
          <input
            type="float.number"
            name="nota"
            id="nota"
            placeholder="Nota"
            required
          />
        </div>
        <div>
          <label for="imagem">Imagem:</label>
          <input
            type="url"
            name="imagem"
            id="imagem"
            placeholder="Link da imagem"
            required
          />
        </div>
        <div>
          <label for="site">Site Montadora:</label>
          <input
            type="url"
            name="site"
            id="site"
            placeholder="Site da Montadora"
            required
          />
        </div>
        <button type="submit" id="enviar">Enviar</button>
      </form>
    </section>
    <script src="/js/script.js"></script>
  </body>
</html>
