<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta Nome="viewport" content="width=device-width, initial-scale=1.0">
    
  <title>Cadastro de novo catalogo</title>
</head>

<body id="background-cadastro"> 
  <form action="/new" method="POST">

  </form>
</body>
</html>