<!DOCTYPE html>
<html lang="pt-br">
<head id="teste">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Meu catalogo</title>
</head>

<header class="header">
    <div class="center">
      <div class="menu" id="menuId" > 
        <ul class="navegacao">
          <li><a  href="/"><strong">INICIO</strong></li>
          <li><a href="/filmes">FILMES</li>
          <li><a href="/series">SERIES</li>
          <li><a href="/livros">LIVROS</li>
          <li><a href="/carros">CARROS</li>
          <li><a href="/videos">VIDEOS</li>
        </ul>
      </div>
</header>

<!--Lista: Uma tela responsável por mostrar a lista de todos os itens do catálogo.-->
<body>
  <section class="wrapper">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div id="title"></div>
  <section class="buttons">
  <a href="/filmes">
    <img href="/filmes" src="https://4.bp.blogspot.com/-dmOm-EkBhUQ/V3E7i8lckXI/AAAAAAAAAx8/hCLXnMLxQ6gFWtakfT4qYKFB1OIGP3F_QCLcB/s1600/filmes.png" width=256>
  </a>
  <a href="/series">
    <img href="/filmes" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/54fbf860-1d0d-46e7-a22a-74edb3053c67/d6qj64q-f30328aa-5b8c-4ec4-979a-dea8d78c5498.png/v1/fill/w_1024,h_768,strp/tv_series_icon_by_quaffleeye_d6qj64q-fullview.png" width=400>
  </a>
  <a href="/livros">
    <img href="/livros" src="https://images.vexels.com/media/users/3/149510/isolated/lists/2585bf984d29347ef9acb44e2964c36d-livro-pilha-icone-3d.png" width=256>
  </a>
  <a href="/carros">
    <img href="/carros" src="https://www.pinclipart.com/picdir/big/411-4112079_carro-png-aniversario-walex-pinterest-carropng-cars-disney.png" width=350>
  </a>
  <a href="/videos">
    <img href="/videos" src="https://i0.wp.com/multarte.com.br/wp-content/uploads/2020/05/classic-youtube-icon-2.png?resize=512%2C512&ssl=1" width=400>
  </a>
</section>
  

<body>
    <script src="/js/script.js"></script>
</body>
</html>